.ViewSitterProfile {
  width:85%;
  margin-left: auto;
  margin-right:auto;
  min-width: 250px;
}

/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}

.leave-review-div {
  border-top: 1px solid lightblue;
  border-left: 1px solid lightblue;
  border-right: 3px solid lightskyblue;
  border-bottom: 3px solid lightskyblue;
  margin-left:auto;
  margin-right:auto;
  padding:20px;
  width:80%;
  min-width: 400px;
  height:120px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    
  margin-top:20px;
}