
.filter-parent-div {
  border-top: 1px solid lightblue;
  border-left: 1px solid lightblue;
  border-right: 3px solid lightskyblue;
  border-bottom: 3px solid lightskyblue;
  margin-left:auto;
  margin-right:auto;
  padding:20px;
  width:500px;
  height:120px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;  
}
