.PartialSitter_singleParent {
  border-left: 1px lightblue solid;
  border-top: 1px lightblue solid;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
  margin-bottom: 10px;
}
